<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.noinnion.android.newsplus.extension.ttrss"
	android:installLocation="auto" android:versionCode="30"
	android:versionName="0.0.30beta">

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

	<supports-screens android:xlargeScreens="true"
		android:largeScreens="true" android:normalScreens="true"
		android:smallScreens="true" android:anyDensity="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<application android:label="@string/app_name" android:icon="@drawable/icon"
		android:allowBackup="true" android:theme="@style/Theme.Sherlock.Light">

		<activity android:name=".WelcomeActivity"
			android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden|adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	    
		<service android:name=".TtRssExtension" android:label="@string/extension_name"
			android:permission="com.noinnion.android.reader.permission.READ_EXTENSION_DATA"
			android:exported="true">
			<intent-filter>
				<action android:name="com.noinnion.android.reader.api.Extension" />
			</intent-filter>
			<meta-data android:name="protocolVersion" android:value="1" />
			<meta-data android:name="description" android:value="@string/extension_description" />
			<meta-data android:name="loginActivity" android:value=".LoginActivity" />
		</service>

		<activity android:name=".LoginActivity" android:label="@string/extension_login_title"
			android:exported="true" android:theme="@style/Theme.Dialog" />

		<activity android:name=".SendLogActivity" android:theme="@style/Theme.Dialog" />
		
	</application>

</manifest>
